.a {color: black;
   background-color: rgb(195, 192, 192);
   }
.b {color: black;
   background-color: grey;
   margin-right: 14cm; 
   }

.box {
      
      float: right;
      margin-right: 15px;
      width: 150px;
      height: 100px;
      border-radius: 5px;
      background-color: rgb(207,232,220);
      padding: 1em;
   }
.ff {
   text-align: right;
   
}
.f {
   width: 9cm;
   height: 0.2cm;
}

.dd{
   text-align: center;
   width: 20cm;
   height: 20cm;
}

.d{
   color: white;
}

.gg{
   text-align: center;
}
.color{
   background-color: grey;
   margin-right: 14cm;;
}

.right{
   text-align: right;   
}
.left{
   text-align: left;
}

.all{
   justify-content: space-between;
   display: flex;
}

.glav{
  background: rgba(0, 0, 0, 0.3);
  border:2px solid lightslategrey;
  border-radius: 1cm;
  
  
}